{{!-- <div class="main-slider">

    <input type="radio" name="image-slide" id="1" hidden class="main-slider__image-slide">
    <input type="radio" name="image-slide" id="2" hidden class="main-slider__image-slide">
    <input type="radio" name="image-slide" id="3" hidden class="main-slider__image-slide">

    <div class="main-slider__slide">

        <div class="main-slider__item-slide">
            <img src="/img/promotions/black-friday.jpg" alt="Promotion Black Friday" class="main-slider__image">
        </div>
        <div class="main-slider__item-slide">
            <img src="/img/promotions/fifthy-percent-off.jpg" alt="Promotion Fifty Percent Off"
                class="main-slider__image">
        </div>
        <div class="main-slider__item-slide">
            <img src="/img/promotions/promotion-encanto.jpg" alt="Promotion Encanto" class="main-slider__image">
        </div>

    </div>

    <div class="main-slider__pagination">

        <label for="1" class="main-slider__pagination-item">
            <img src="/img/promotions/black-friday.jpg" alt="Slider image 1" class="main-slider__image">
        </label>
        <label for="2" class="main-slider__pagination-item">
            <img src="/img/promotions/fifthy-percent-off.jpg" alt="Slider image 2" class="main-slider__image">
        </label>
        <label for="3" class="main-slider__pagination-item">
            <img src="/img/promotions/promotion-encanto.jpg" alt="Slider image 3" class="main-slider__image">
        </label>

    </div>

</div> --}}

<div class='slider'>
    <ul class='slides'>
        <li class='slide'>
            <div class='jumbotron'>
                <video autoplay muted loop id="heroBackgroundVideo">
                    <source src="vids/hero-vid.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>
                <div class='content vcenter'>
                    <div class='row'>
                        <div class='col-md-6 col-md-offset-3 text-center'>
                            <h1>Sunstone Construction Miami Co</h1>
                            <a class='btn anchor' href='#start'>Explore More</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- Remove the additional 'li' elements that were part of the slider -->
    </ul>
</div>


<section class="section-cards">
    <header class="section-cards__header">
        <h1 class="section-cards__main-heading">Productos</h1>
        <p class="section-cards__paragraph">Los mejores juguetes al mejor precio.</p>
    </header>
    <div class="cards-container">
        {{#each products}}
        <div class="card">
            <article class="card__article">
                <div class="card__image-container">
                    <img class="card__image" src="{{this.image}}" alt="{{this.name}}">
                </div>
                <div class="card__content">
                    <h2 class="card__heading">{{this.name}}</h2>
                    <p class="card__description">
                    <ul class="card__list">
                        <li class="card__list__item">Categoría: {{this.category}}</li>
                        <li class="card__list__item">Precio: ${{this.price}}</li>
                        <li class="card__list__item">Disponibles: {{this.stock}}</li>

                    </ul>
                    </p>
                </div>
            </article>
        </div>
        {{/each}}
    </div>


    </div>
</section>
<script src="js/cart.js"></script>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/tera-slider.js" type="text/javascript"></script>